.mobile {
  &__nav {
    position: fixed;
    margin-top: 20px;
    padding: 60px 0px;
    top: 78px;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 5;
    background-color: $bg-body-color;
    transition: 2s;

    ul {
      margin: 0;
      padding: 0;
      gap: 60px;

      a {
        position: relative;
        margin-top: 40px;
        width: 140px;

        img {
          position: absolute;
          top: -2px;
          width: 30%;
          padding-left: 14px;
        }
      }
    }
    a {
      text-decoration: none;
      color: $text-dark-color;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }

    a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $text-dark-color;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 350ms ease;
    }

    @media (hover: hover) {
      a:hover::after {
        transform: scaleX(1);
        transform-origin: 50% 50%;
      }
    }
  }

  &__nav-active {
    left: 8px;
  }

  &__btn-active {
    span:first-child {
      transform: translateY(-5px) rotate(45deg);
      transition: transform 2s ease-in-out, top 2s ease-in-out,
        left 2s ease-in-out;
    }

    span:last-child {
      transform: translateY(5px) rotate(-45deg);
      transition: transform 2s ease-in-out, top 2s ease-in-out,
        left 2s ease-in-out;
    }
  }
}
