/// Colors
/// @type Color
$text-dark-color: #403f3d !default;

/// @type Color
$text-light-color: #e1d4c9 !default;

/// @type Color
$text-accent-color: #b0907a !default;

/// @type Color
$bg-body-color: #e1d4c9 !default;

/// @type Color
$bg-container-color: #665f55 !default;

/// @type Color
$bg-backdrop-color: rgba(64, 63, 61, 0.8) !default;

/// @type Color
$border-light-color: #c1b6ad !default;

/// @type Color
$border-dark-color: #665f55 !default;

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;

/// Container's minimum width
/// @type Length
$min-width: 380px !default;

/// Background image
$background-img: "assets/images/premium-coffe_background.jpeg";
