#favcoffee {
  position: relative;
  height: 50rem;

  @include breakpoint-down(medium) {
    height: 56rem;
  }
  @include breakpoint-down(small) {
    height: 40rem;
  }
}

.favcoffee_title {
  text-align: center;
}
