.footer {
  margin: 0 40px;
  padding: 100px;
  border-radius: 40px;
  background: $bg-container-color;
  color: $text-light-color;
  gap: 100px;

  @include breakpoint-down(medium) {
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 60px;
    gap: 100px;
  }
  @include breakpoint-down(small) {
    margin: 0 16px;
    padding: 60px 16px;
    gap: 35px;
  }

  .footer__title {
    margin-bottom: 32px;
    max-width: 530px;
    @include breakpoint-down(medium) {
      margin-bottom: 40px;
    }
  }

  .footer-social {
    flex-basis: 50% !important;
  }

  .footer-icons__container {
    gap: 12px;
  }

  .footer-contacts__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 125%;
  }

  .footer__list {
    padding: 0;
  }

  .footer__item {
    position: relative;
    padding: 20px 0 0;
    border-bottom: 2px solid transparent;
    img {
      padding-right: 4px;
    }
    a {
      text-decoration: none;
      color: $text-light-color;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 2px;
        background: $text-light-color;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: transform 450ms ease;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: 50% 50%;
      }
    }
  }
}
