.start-screen {
  position: relative;
  &_background {
    position: absolute;
    width: 100%;
    height: 644px;
    object-fit: cover;
    border-radius: 40px;
    z-index: -1;

    @include breakpoint-down(adjusted-medium) {
      height: 100%;
    }
  }
  &_content {
    padding: 100px 100px;
    max-width: 530px;
    color: $text-light-color;

    @include breakpoint-down(large) {
      padding: 100px 60px;
    }
    @include breakpoint-down(small) {
      padding: 60px 16px;
    }

    .start-screen_title {
      font-size: 4.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 106%;

      @include breakpoint-down(small) {
        font-size: 2.625rem;
        line-height: 115%;
      }
    }
    .start-screen_subtitle {
      font-weight: 400;
      line-height: 150%;
      padding: 23px 0 44px;
    }
  }
}
