html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.hidden {
  position: absolute;
  left: -99999em;
  width: 1px;
  height: 1px;
}

.hide-for-mobile {
  @include breakpoint-down(adjusted-medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(adjusted-medium) {
    display: none !important;
  }
}

.hide-for-phones {
  @include breakpoint-down(small) {
    display: none !important;
  }
}

// Main content container
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px 0 40px;
  width: 100%;
}

h2 {
  margin: 0;
}

.section-visible {
  display: block;
  padding: 0 40px 100px 40px;
  @include breakpoint-down(small) {
    padding: 0 16px 100px 16px;
  }
}

.section-hidden {
  display: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  &-fd-row {
    flex-direction: row;
  }
  &-fd-column {
    flex-direction: column;
  }
  &-fw-wrap {
    flex-wrap: wrap;
  }
  &-jc-center {
    justify-content: center;
  }
  &-jc-start {
    justify-content: flex-start;
  }
  &-jc-space-between {
    justify-content: space-between;
  }
  &-ai-center {
    align-items: center;
  }
  &-as-stretch {
    align-self: stretch;
  }
}

.highlight {
  color: $text-accent-color;
  font-style: italic;
}

.small-text {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
}

.title {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;

  @include breakpoint-down(small) {
    font-size: 2rem;
  }
}
